body{
    background-image: url('BG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    height: 100vh;
    
}

div.main{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 500px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px rgb(255, 107, 107);
    padding-top: 6vh;
    padding-bottom: 5vh;
    
}


div.cname{
    margin-top: 20px;
}

#name1{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 50%;
    translate: -50%;
    height: 3vh;
    width: 35vh;
}

#name2{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 50%;
    translate: -50%;
    height: 3vh;
    width: 35vh;
}

#submit{
    margin-left: 50%;
    translate: -50%;
    margin-top: 3vh;
    height: 5vh;
    width: 20vh;
    background: linear-gradient(90deg,rgb(255, 0, 34),rgb(255, 0, 76));
    border-radius: 1vh;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "DynaPuff", system-ui;
    font-style: normal;
    font-size: medium;

}

#result{
    margin-left: 50%;
    translate: -50%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-items: center;

}