body{
    background-image: url('BG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    height: 100vh;
    /*scale: 140%;*/
    
}

div.main{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px rgb(255, 107, 107);
    padding-top: 6vh;
    padding-bottom: 5vh;
    padding-left: 6vh;
    padding-right: 6vh;
    
}


div.cname{
    margin-top: 20px;
}

#name1{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 50%;
    translate: -50%;
    height: 3vh;
    width: 35vh;
    transition: 0.3s;
    border: 2px solid #ff446c;
    border-radius: 1vh;
    

}

#name1:focus{
    transform: scale(1.02);
    box-shadow: 0px 0px 20px  rgb(255, 166, 166);
    outline: 2px #ff3366;
    
    
}

#name2{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 50%;
    translate: -50%;
    height: 3vh;
    width: 35vh;
    transition: 0.3s;
    border: 2px solid #ff446c;
    border-radius: 1vh;
    position: relative;
}

#name2:focus{
    transform: scale(1.02);
    box-shadow: 0px 0px 20px  rgb(255, 166, 166);
    outline: 2px #ff3366;
    
}

.heart_float{
    scale: 120%;
    rotate: 30deg;
    position: absolute;
    top : 12.2vh;
    left : 44vh;
    animation:float 5s ease infinite ;
    display: none;
    transition: 500ms;
}

  @keyframes float {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(2px, -2px); }
    50%  { transform: translate(0, -4px); }
    75%  { transform: translate(-2px, -2px); }
    100% { transform: translate(0, 0); }
  }

#submit{
    margin-left: 50%;
    translate: -50%;
    margin-top: 3vh;
    height: 5vh;
    width: 20vh;
    background: linear-gradient(90deg,rgb(255, 0, 34),rgb(255, 0, 76));
    border-radius: 1vh;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "DynaPuff", system-ui;
    font-style: normal;
    font-size: medium;

}

#result{
    /*margin-left: 50%;
    translate: -50%;*/
    padding-top: 3vh;
    padding-bottom: 3vh;
    align-items: center;

}

#result_css{
    font-family: "DynaPuff", system-ui;
    font-style: normal;
    font-size: medium;
    text-align: center;
    font-size: 4vb;
    letter-spacing: .4vh;
    color: rgb(240, 12, 61);
}

.heading{
    font-family: "Tilt Warp", sans-serif;
    color: rgb(240, 4, 94);
    text-align: center;
    margin-top: 4vb;
    font-size: 10vb;
    text-shadow: 3px 2px 9px rgb(87, 87, 87);
}